<launch>
    <param name="/use_sim_time" value="false" />
    <param name="robot_description" textfile="$(find ouster_ros)/urdf/os1_sensor.urdf" />
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="robot_tf" args="0 0 0 0 0 0 base_footprint base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="fake_loc" args="0 0 0 0 0 0 odom map 100" /> -->

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.05"/>
            <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
            <param name="frame_id" type="string" value="map"/>

            <!-- maximum range to integrate (speedup!) -->
            <param name="sensor_model/max_range" value="4.0"/>
            <param name="base_frame_id " value="base_link" type="str"/>

            <param name="filter_ground" type="bool" value="true" />
            <param name="filter_speckles" type="bool" value="true" />
            <param name="ground_filter/distance" type="double" value="0.2" />
            <param name="ground_filter/plane_distance" type="double" value="0.2" />
            <param name="pointcloud_min_z" type="double" value="-2.0" />
            <param name="pointcloud_max_z" type="double" value="4.0" />
            <param name="occupancy_min_z" type="double" value="1.0" />
            <param name="occupancy_max_z" type="double" value="2.5" />

            <!-- data source to integrate (PointCloud2) -->
            <remap from="cloud_in" to="/os1_node/points"/>

    </node>

    <!-- <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
            -configuration_directory $(find ouster_ros)/configuration_files
            -configuration_basename cart_2d.lua"
            output="screen">
        <remap from="points2" to="/os1_node/points" />
        <remap from="imu" to="/os1_node/imu" />
    </node> -->

    <!--
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" /> 
    -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find ouster_ros)/configuration_files/demo_2d.rviz" /> -->
    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />
</launch>